@model Movement

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Estudiante</h4>
                <h6 class="card-subtitle">Información personal</h6>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="color: #6c757d !important">Código</td>
                                <td>123456</td>
                            </tr>
                            <tr>
                                <td style="color: #6c757d !important">Nombre</td>
                                <td>Prohaska</td>
                            </tr>
                            <tr>
                                <td style="color: #6c757d !important">Apellido</td>
                                <td>Gaylord</td>
                            </tr>
                            <tr>
                                <td style="color: #6c757d !important">Zona</td>
                                <td>Candelaria</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Movimiento</h4>
                <h6 class="card-subtitle">Detalle</h6>

                <form class="form-material">

                    <div class="mt-4">
                        <div class="form-group">
                            <label class="form-label">Cantidad de semanas</label>
                            <div style="text-align: center;">
                                <button type="button" class="btn btn-primary btn-circle btn-lg text-white">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <div style="display: inline-block; vertical-align: middle; margin: 0px 15px;">
                                    <h1 style="font-size: 55px; margin: 0px;">1</h1>
                                </div>
                                <button type="button" class="btn btn-primary btn-circle btn-lg text-white">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Ingresar monto manualmente
                        </label>
                    </div>

                    <div class="form-group" style="text-align: end;">
                        <label class="form-label">Monto</label>
                        <input type="text" class="form-control" style="text-align: right !important; font-size: xx-large !important;">
                        <span class="help-block text-muted"><small>Precio de la semana: 5,100.00</small></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Detalle (opcional)</label>
                        <textarea class="form-control" rows="2"></textarea>
                    </div>

                    <button type="button" class="btn btn-rounded btn-success"><i class="mdi mdi-check"></i> Aceptar</button>
                    <button type="button" class="btn btn-rounded btn-danger"><i class="mdi mdi-close"></i> Cancelar</button>

                </form>



            </div>
        </div>
    </div>
</div>